// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'Prompt',
sans-serif;
$heading-font-family: $body-font-family !default;
$border-radius-root: 5px !default;
$font-size-root: 18px !default;
$line-height-root: 1.3 !default;
@import '~vuetify/src/styles/styles.sass';